/* Navbar */

.container-nav {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.cell-left {
    background-color: #1289A7;
}

    .button-left {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-left: 40px;
        margin-top: 5px;
        border-radius: 12px;
        border: 0;
        background-color: #1289A7;
        color: black; 
    }

    .button-left:hover {
        background-color: #0652DD;
        color: black;
        text-decoration: none;
    }

.cell-right {
    background-color: #1289A7;
    padding-top: 15px;
    padding-left: 250px;
}

/* Footer */

.container-foot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.brand {
    background-color: #1289A7;
    padding-left: 50px;
}

.social {
    background-color: #1289A7;
    padding-left: 400px;
}

    .fa {
        font-size: 30px;
        margin-top: 5px;
        margin-left: 30px;
    }

    .fa-instagram {
        color:#ED4C67;
    }

    .fa-twitter {
        color:#EE5A24;
    }
    
    .fa-facebook-f {
        color:#1B1464;
    }

    .fa-pinterest-p {
        color: #e84393;
    }

/* General Layout */  

.container-lay {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr;
}

    .functionality {
        background-color: magenta;
    }

    .notification {
        background-color: blue;
    }